<!DOCTYPE html>
<html>
<head>
    <title>Checkout - Simple Store</title>
</head>
<body>
    <h1>Checkout</h1>
    <form action="/checkout" method="POST">
        <!-- Form data customer -->
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="text" name="address" placeholder="Address" required>
        <input type="text" name="payment" placeholder="Payment Method" required>
        
        <button type="submit">Place Order</button>
    </form>
</body>
</html>